html,
body {
  height: 100%;
}

.RecipesApp {
  height: 100%;
}

.page {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7edee;
}

.content {
  height: 100%;
  background-color: white;
  align-items: start !important;
  padding: 20px;
  @media (max-width: 600px) {
    padding: 0;
  }
}

.description {
  font-weight: 500;
}

.quotes {
  font-style: italic;
  @media (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.notes {
  @media (max-width: 600px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.ingredientsListWrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
}

.ingredientsListWrapper h3 {
  margin-left: 10px;
}

.ingredients {
  text-align: left;
}

.steps {
  margin-left: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.steps li {
  margin-bottom: 20px;
}

.recipeCountrySection {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  @media (min-width: 600px) {
    width: 60%;
    margin-left: 20%;
  }
}

.recipeCountrySection h2 {
  margin-left: 10px;
}

.info-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 20px;
  box-sizing: border-box;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.info-text {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.info-image {
  flex: 1;
}

.info-image img {
  width: 100%;
}

.feedback {
  @media (max-width: 600px) {
    padding-left: 10px;
  }
}
