.partial-recipe-card {
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: 1000px;
  height: auto;
  align-items: center;
}

.partial-recipe-card:hover {
  background-color: #f1f7f8;
}

.partial-recipe-card-text {
  padding: 10px;
  padding-left: 40px;
  width: 100%;
  text-align: left;
}

.partial-recipe-card-image {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.partial-recipe-card-image img {
  max-width: 100%;
  max-height: 220px;
}

.partial-recipe-card .quotes {
  @media (max-width: 600px) {
    display: none;
  }
}
