.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.animation-container {
  height: 600px;
  width: 600px;
}

@-webkit-keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: rgb(25, 118, 210)    
  }    
}    
@keyframes borderBlink {    
  from, to {    
      border-color: transparent    
  }    
  50% {    
      border-color: rgb(25, 118, 210)    
  }    
}    
.border-blink { 
  width: 200px;
  position: absolute !important;
  margin-top: 600px !important;
  -webkit-animation: borderBlink 2s ease infinite;    
  animation: borderBlink 2s ease infinite;  
}

.announcement {
  position: absolute !important;
  @media (max-width: 600px) {
    margin-left: 200px;
  }
  @media (min-width: 600px) {
    margin-left: 20%;
  }
  margin-top: 600px !important; 
}

.tree {
  position: absolute;
  height: 600px;
  margin-left: -70px;
  min-width: 600px;
  svg {
    height: 100%;
    width: 100%;
  }
}

.gander-1 {
  position: absolute;
  margin-left: 175px;
  margin-top: 470px;
  animation: gander1Wobble 1s ease infinite;
  img {
    height: 100px;
  }
}

@-webkit-keyframes gander1Wobble {    
  from, to {    
      margin-left: 175px;
  }    
  50% {    
      margin-left: 185px;    
  }    
}    
@keyframes gander1Wobble {    
  from, to {    
    margin-left: 175px;
}    
50% {    
    margin-left: 185px;    
}    
}

.gander-2 {
  position: absolute;
  margin-left: 190px;
  margin-top: 470px;
  animation: gander2Wobble 1s ease infinite;
  img {
    height: 100px;
  }
}

@-webkit-keyframes gander2Wobble {    
  from, to {    
      margin-left: 190px;
  }    
  50% {    
      margin-left: 200px;    
  }    
}    
@keyframes gander2Wobble {    
  from, to {    
    margin-left: 190px;
}    
50% {    
    margin-left: 200px;    
}    
}

.gander-3 {
  position: absolute;
  margin-left: 220px;
  margin-top: 470px;
  animation: gander3Wobble 1s ease infinite;
  img {
    height: 100px;
  }
}

@-webkit-keyframes gander3Wobble {    
  from, to {    
      margin-left: 210px;
  }    
  50% {    
      margin-left: 220px;    
  }    
}    
@keyframes gander3Wobble {    
  from, to {    
    margin-left: 210px;
}    
50% {    
    margin-left: 220px;    
}    
} 

.gander-4 {
  position: absolute;
  margin-left: 270px;
  margin-top: 470px;
  img {
    height: 100px;
  }
}
