.Menu {
  position: fixed;
  background: white;
  width: 100%;
  opacity: 0.9;
}

.Menu--links-container ul {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  -webkit-padding-start: 0px;
}

@media (max-width: 605px) {
  .Menu--links-container {
    float: left;
  }
}

@media (min-width: 606px) {
  .Menu--links-container {
    float: right;
  }
}

.Menu--logo-container {
  float: left;
  margin-top: 18px;
  margin-left: 20px;
}

.Menu--logo-container h3 {
  margin: 0 auto;
}
