.TabItem {
  display: inline-block;
  cursor: pointer;
  }

  @media (min-width: 606px) {
    .TabItem {
      padding: 20px;
    }
  }

  @media (max-width: 605px) {
    .TabItem {
      padding: 10px;
    }
  }

.TabItem {
  color: #333333;
  font-weight: bold;
  height: 19px;
}

.TabItem:hover {
  background-color: #008D8D;
  color: #FFFFFF;
}

.TabItem--selected {
  background-color: #008D8D;
  color: #FFFFFF;
}
