.TabItem {
  display: inline-block;
  cursor: pointer;
  }

  @media (min-width: 501px) {
    .TabItem {
      padding: 20px;
    }
  }

  @media (max-width: 500px) {
    .TabItem {
      padding: 10px;
    }
  }

.TabItem:hover {
  background-color: #EEEEEE;
}

.TabItem--selected {
  background-color: #DDDDDD;
}
